<%= form_for @card do |f| %>

<%= render 'common/errors', resource: @card %>

    <p>
      <%= f.label 'Текст' %><br>
      <%= f.text_field :original_text %>
    </p>
    <p>
      <%= f.label 'Перевод' %><br>
      <%= f.text_field :translated_text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Вернуться', cards_path %>
